/*Main*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-family:"Roman-55","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #323232;
    font-size: 1em;
    line-height: 1.2;
    overflow-x: hidden;
    position: relative;
    font-feature-settings: "salt";
    -webkit-font-feature-settings: "salt";
    -moz-font-feature-settings: "salt";
}
li{
    display: inline-block;
}
a{
    text-decoration:none;
    cursor: pointer;
    padding: 5px;
}
/*Main*/
/*Start Navigation One*/
.nav-one{
    border-bottom: 1px solid #ccc;
    height: 70px;
    width: 100%;
}
.nav-one_wrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}
.nav-one_link:hover{
    border-bottom: 2px solid #EF2E4F;
}
.nav-one_hamburger{
    display:none;
}
.nav-one_img--hamburger{
    width: 30px;
}
.nav-one_logo{
    cursor: pointer;
}
.nav-one_img--logo{
    width: 130px;
}
.nav-one_a{
    color: #000000;
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 2;
}
.nav-one_span{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0px 2px;
    font-size: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.nav-one_a:hover{
    border-bottom: 2px solid #EF2E4F;
}
.nav-one_images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    position: relative;
}
.nav-one_img{
    border-bottom: 2px solid transparent;
    cursor: pointer;
    padding-bottom: 5px;
    margin-bottom: -12px;
}
.nav-one_img--avatar{
    width: 30px;
    margin-right: 10px;
}
.nav-one_img:hover{
    border-bottom:2px solid #EF2E4F;
}
.nav-one_bag--mo{
    display: none;
}
.nav-one_img--bag{
    width:30px;
    margin-left: 20px;
}
.nav-one_menu--one-series{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 70px;
    right: -100%;
    background-color:rgb(255, 94, 0);
    z-index: 20;
}
.nav-one_menu--nord-series{
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 70px;
    right: -100%;
    background-color:pink;
    z-index: 20;
}
.nav-one_menu--shop{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 70px;
    right: -100%;
    background-color:blue;
    z-index: 20;
}
.nav-one_menu--avatar{
    width: 300px;
    height: 50vh;
    position: absolute;
    top: 70px;
    right: -300px;
    background-color:green;
    z-index: 20;
}

.nav-one_menu--bag{
    width: 450px;
    height: 50vh;
    position: absolute;
    top: 70px;
    right: -450px;
    background-color: #fff;
    z-index: 20;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.nav-one_menu-title--bag{
    display: none;
}
.nav-one_menu-subtitle--bag{
    padding: 20px;
}
.nav-one_menu-cart--bag{
    height: 55%;
    border-top: 4px solid rgba(204, 204, 204, 0.5);
    background-image: url(./images/bag.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-one_menu-filter--bag{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
}
.nav-one_menu-message--bag{
    margin:  auto;
    text-align: center;
    padding: 20px;
}
.nav-one_menu-buttons--bag{
    display: none;
}
.nav-one_menu-button--bag{
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    background-color: #fff;
    border-color: #ccc;
}
.nav-one_menu-button--shop{
    padding: 30px 20px;
    border-top: 1px solid #ccc;
}


/*End Navigation One*/
@media screen and (max-width:1050px){
    /*Start Navigation One*/
    .nav-one_wrapper{
        padding: 10px;
    }
    .nav-one_hamburger{
        display:block;
    }
    .nav-one_img--logo{
        width: 110px;
    }    
    .nav-one_menu{
        display:none;
    }
    .nav-one_img--avatar{
        display:none;
    }
    /*End Navigation One*/
}
@media screen and (max-width:768px){
    /*Start Navigation One*/
    .nav-one{
        height: 50px;
    }
    .nav-one_bag--mo{
        display: block;
    }
    .nav-one_bag--pc{
        display: none;
    }    
   .nav-one_menu--bag{
        width: 100%;
        height: 100vh;
        top: 0px;
    }   
    .nav-one_menu-title--bag{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        padding: 10px;
    }
    .nav-one_menu-close--bag{
        color: #b3b3b3;
    } 
    .nav-one_menu-buttons--bag{
        height: 35%;
        border-top: 1px solid #ccc;
        padding: 10px;
        display: block;
    }
    .nav-one_menu-button--shop{
        display: none;
    }
   .nav-one_menu--avatar{
       display: none;
    }    
    /*End Navigation one*/
}

/*END RESPONSIVE*/

/*Start Navigation Two*/
.nav-two{
    background-color: #fff;
    width: 100%;
}
    /*Sticky Navigation two on scroll*/
.nav-two--sticky{
    position: fixed;
    top: 0px;
    width: 100%;
}
.nav-two_wrapper{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    padding: 10px;
    height: 50px;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.nav-two_wrapper--second{
    justify-content:center;
    position: absolute;
    top: 70px;
    right: 100px;
}
    /*Sticky Navigation inner on scroll*/
.nav-two_wrapper--sticky{
    position: fixed;
    top:0px;
    width: 100%;
    justify-content: flex-end;
}
.nav-two_item--move{
    position: relative;
    right: -335px;/*right -335px to 0px */
}
.nav-two_item--fix{
    background-color: #fff;
    padding-right: 20px;
    z-index: 5;
}
.nav-two_a{
    color: #b3b3b3;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 2;
}
.nav-two_a--left-active{
    color: #000000;
    cursor: default;
}
.nav-two_a--right{
    border-left: 1px solid #ccc;
}
.nav-two_a:hover{
    color: #000000;
}
.nav-two_a--active{
    color: #000000;
    border-bottom: 2px solid #EF2E4F;
    cursor:default;
}
.nav-two_a--button{
    color:#fff;
    background-color:#EB0028;
    font-size: 14px;
    padding:10px 15px;
    margin:0px 15px;
    position: relative;
    z-index: 5;
    transition-duration: 0.5s;
}
.nav-two_a--button:hover{
    background-color: #B8001F;
}
/*End Navigation Two*/

@media screen and (max-width:768px){
    /*Start Navigation One*/
    .nav-one{
        height: 50px;
    }
    .nav-one_bag--mo{
        display: block;
    }
    .nav-one_bag--pc{
        display: none;
    }    
   .nav-one_menu--bag{
        width: 100%;
        height: 100vh;
    }    
   .nav-one_menu--avatar{
       display: none;
    }    
    /*End Navigation one*/
    /*Start Navigation Two*/
    .nav-two_wrapper--first{
        z-index:10 ;
        background-color: #fff;
    }
    .nav-two_wrapper--second{
        background-color: #fff;
        right: 0;
        top: 50px;
        width: 100%;
        justify-content:space-between;
    }    
    .nav-two_a--responsive-no{
        display: none;
    }
    .nav-two_a--move{
        color: #000000;
        border-bottom: 2px solid #EF2E4F;
        cursor:default;
    }
    .nav-two_item--move{
        right: 0;
        width: 35%;
    }    
    .nav-two_item--fix{
        width: 65%;
    }
    .nav-two_ul--fix{
        width: 100%;
        display: flex;
        justify-content:space-between;
    }
    /*Sticky Navigation optional on scroll*/
    .nav-two--sticky{
        position: fixed;
        top: 0px;
        width: 100%;
    }
    /*End Navigation Two*/
}

/*Start Section one*/
.section-one{
    margin-top:50px;
    height: 100vh;
}
/*End Section one*/
/*Start Section two*/
.section-two{
    height: 10vh;
    background-color: #bfcdd4;
}
/*End Section two*/
/*Start Section three*/
.section-three{
    height: 100vh;
    background-color: #bfd4c2;
}
/*End Section three*/

